.footer {
    background: #3913f9;
    height: 50px;
}

.footer {
    display: flex;
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    height: 100px; /* Adjust the height as needed */

    font-size: 30px;
    background-color: #f3abab; /* Add a background color for better visibility */
  }
  .footer i {
    color: white;
    font-size: 50px;
    margin: 20px;
  }

