header {
    background: #f9b713;
    height:min-content;

  }
  
header h1 {
    font-family: 'Lobster', sans-serif;
    padding: .25rem;
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  